<h1>Watchlist:
  <%= watchlist.name %>
</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <td>
      <%= watchlist.name %>
    </td>
  </tr>
</table>

<h2>Movies Left:</h2>
<ul>
    <% movies.forEach((movie) => {%>
    <% if(!movie.watched) {%>
    <img src=<%= movie.data.Poster %> alt="Movie Poster" height="200">
    <li><a href=<%=`/watchlist/${watchlist._id}`+ "/movie/" + movie.data.Title  %>><%= movie.data.Title %></a></li>
    <% } %>
    <% }) %>
</ul>

<h2>Movies Watched:</h2>
<ul>
    <% movies.forEach((movie) => {%>
    <% console.log(watchlist.movies) %>
    <% if(movie.watched) {%>
    <li><a href=<%=`/watchlist/${watchlist._id}`+ "/movie/" + movie.data.Title %>><%= movie.data.Title %></a></li>
    <% } %>
    <% }) %>
</ul>

<h2>Search for Movie to add</h2>
<form action=<%=`/watchlist/${watchlist._id}` + "/search-movie" %> method="post">
    <input type="text" name="searchTerm" placeholder="Search Movie">
    <input type="submit" name="submit">
</form>

<div class="center">
  <a class="button" href="/watchlist">View all Watchlists</a>
</div>

<div>
  <a class="button" href="<%=`/watchlist/${watchlist._id}/edit`%>">
    Edit Watchlist
  </a>
</div>
<div>
  <a class="button" href="<%= `/watchlist/${watchlist._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this Watchlist?')">Delete</a>
</div>
