<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
  <title>MovieWatchlists</title>
  <link rel="shortcut icon" type="image/png" href="/images/icon.png" />
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/movieWatchlist.css">
</head>

<body>
  <div class="flashes">
    <% if (flashMessages) { %>
    <% for(let message in flashMessages) { %>
    <div> <%= flashMessages[message] %> </div>
    <% } %>
    <% } %>
  </div>
  <% if (loggedIn) { %>
  Logged in as <a href="<%=`/users/${currentUser._id}`%>">
    <%= currentUser.fullName %></a>
  <%} else {%>
  <a href="/users/login">Log In</a>
  <% } %>
  <a href="/users/logout">Log out</a>
  <%- include('partials/navigation') %>
  <%- body %>
  <%- include('partials/footer') %>
</body>

</html>