<h1><%= watchlist.name %></h1>

<h2>Movies Left:</h2>
<ul>
    <% movies.forEach((movie) => {%>
    <% if(!movie.watched) {%>
    <img src=<%= movie.data.Poster %> alt="Movie Poster" height="200">
    <li><a href=<%= watchlist._id + "/movie/" + movie.data.Title  %>><%= movie.data.Title %></a></li>
    <% } %>
    <% }) %>
</ul>

<h2>Movies Watched:</h2>
<ul>
    <% movies.forEach((movie) => {%>
    <% console.log(watchlist.movies) %>
    <% if(movie.watched) {%>
    <li><a href=<%= watchlist._id + "/movie/" + movie.data.Title %>><%= movie.data.Title %></a></li>
    <% } %>
    <% }) %>
</ul>

<h2>Search for Movie to add</h2>
<form action=<%= watchlist._id + "/search-movie" %> method="post">
    <input type="text" name="searchTerm" placeholder="Search Movie">
    <input type="submit" name="submit">
</form>