<h1><%= watchlist.name %></h1>

<h2>Next Movie To Watch:</h2>

<% const nextMovie = Object.values(watchlist.movies).find(movie => !movie.watched) %>
<% const nextMovieID = Object.keys(watchlist.movies).find(key => watchlist.movies[key] === nextMovie) %>
<% if(nextMovie !== undefined) {%>
    <% let url = watchlistID + "/movie/" + nextMovieID %>
    <p><a href=<%= url %>><%= nextMovie.name %></a></p>
<% } else {%>
    <p>None</p>
<% }%>

<h2>Movies Left:</h2>
<ul>
    <% Object.entries(watchlist.movies).forEach(([id, movie]) => {%>
    <% if(!movie.watched) {%>
    <li><a href=<%= watchlistID + "/movie/" + id %>><%= movie.name %></a></li>
    <% } %>
    <% }) %>
</ul>

<h2>Movies Watched:</h2>
<ul>
    <% Object.entries(watchlist.movies).forEach(([id, movie]) => {%>
    <% if(!movie.watched) {%>
    <li><a href=<%= watchlistID + "/movie/" + id %>><%= movie.name %></a></li>
    <% } %>
    <% }) %>
</ul>
