<h2>Watchlists Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Age Group</th>
    </tr>
  </thead>
  <tbody>
    <% watchlists.forEach(watchlist => { %>
    <tr>
      <td>
        <a href="<%= `/watchlists/${watchlist._id}` %>">
          <%= watchlist.name %>
        </a>
      </td>
      <td>
        <%= watchlist.genre %>
      </td>
      <td>
        <%= watchlist.intendedAudience %>
      </td>
      <td>
        <a href="<%=`/watchlists/${watchlist._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%=`/watchlists/${watchlist._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this Watchlist?')">Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
